.history{
    padding:10px;
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.his img{
    width: 100%;
    border-radius: 10px;
}
.his h3{
    color: white;
}
.his{
    flex-basis: 31%; 
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0; bottom: 0;
    right: 0;
    background: rgba(0, 15,152, 0.3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color:cornflowerblue;
    cursor: pointer;
    opacity: 0;
    transition:0.4s;
    padding-top: 70%;
}
.caption img{
    width: 200px;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
} 
.caption p{
    background: rgba(0, 0, 0, 0.5); /* black transparent background */
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;

}
.history:hover .caption{
    opacity: 1;
    padding-top: 0;
}
@media (max-width: 1000px) {
    .history {
        flex-direction: column;
        gap: 20px;
    }
    .his {
        flex-basis: 100%;
    }
}
@media (max-width: 600px) {
    .caption img {
        width: 150px;
        height: 150px;
    }
}
